.cardDescription{
    height: 100px;
    overflow: hidden;
}
.sensorCard{
    cursor: pointer;
    border-radius: 12px;
}
.sensorCard:hover{
    background-color: #f0f0f0;
}

.cardContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}